# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [1]:
import pandas as pd
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [2]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [3]:
# your code here
print([5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7][2])

74.4

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [4]:
# your code here
import pandas as pd

# Creating a pandas Series from the list
s = pd.Series([5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7])

# Accessing the third value using indexing
third_value = s[2]
print(third_value)

import pandas as pd; print(pd.Series([5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7])[2])

74.4
74.4

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [5]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [6]:
# your code here
import pandas as pd

# List of lists
b = [
    [53.1, 95.0, 67.5, 35.0, 78.4],
    [61.3, 40.8, 30.8, 37.8, 87.6],
    [20.6, 73.2, 44.2, 14.6, 91.8],
    [57.4, 0.1, 96.1, 4.2, 69.5],
    [83.6, 20.5, 85.4, 22.8, 35.9],
    [49.0, 69.0, 0.1, 31.8, 89.1],
    [23.3, 40.7, 95.0, 83.8, 26.9],
    [27.6, 26.4, 53.8, 88.8, 68.5],
    [96.6, 96.4, 53.4, 72.4, 50.1],
    [73.7, 39.0, 43.2, 81.6, 34.7]
]

# Create a DataFrame
df = pd.DataFrame(b)

# Display the DataFrame
print(df)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Rename the data frame columns based on the names in the list below.

In [7]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [7]:
# your code here
import pandas as pd

# List of lists
b = [
    [53.1, 95.0, 67.5, 35.0, 78.4],
    [61.3, 40.8, 30.8, 37.8, 87.6],
    [20.6, 73.2, 44.2, 14.6, 91.8],
    [57.4, 0.1, 96.1, 4.2, 69.5],
    [83.6, 20.5, 85.4, 22.8, 35.9],
    [49.0, 69.0, 0.1, 31.8, 89.1],
    [23.3, 40.7, 95.0, 83.8, 26.9],
    [27.6, 26.4, 53.8, 88.8, 68.5],
    [96.6, 96.4, 53.4, 72.4, 50.1],
    [73.7, 39.0, 43.2, 81.6, 34.7]
]

# Create the DataFrame
df = pd.DataFrame(b)

# List of new column names
new_column_names = ['A', 'B', 'C', 'D', 'E']

# Rename the DataFrame columns
df.columns = new_column_names

# Display the renamed DataFrame
print(df)

import pandas as pd

# List of lists
b = [
    [53.1, 95.0, 67.5, 35.0, 78.4],
    [61.3, 40.8, 30.8, 37.8, 87.6],
    [20.6, 73.2, 44.2, 14.6, 91.8],
    [57.4, 0.1, 96.1, 4.2, 69.5],
    [83.6, 20.5, 85.4, 22.8, 35.9],
    [49.0, 69.0, 0.1, 31.8, 89.1],
    [23.3, 40.7, 95.0, 83.8, 26.9],
    [27.6, 26.4, 53.8, 88.8, 68.5],
    [96.6, 96.4, 53.4, 72.4, 50.1],
    [73.7, 39.0, 43.2, 81.6, 34.7]
]

# Create the DataFrame
df = pd.DataFrame(b)

# List of new column names
new_column_names = ['A', 'B', 'C', 'D', 'E']

# Rename the DataFrame columns
df.columns = new_column_names

# Display the renamed DataFrame
print(df)

      A     B     C     D     E
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7
      A     B     C     D     E
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [9]:
# your code here
import pandas as pd

# If the DataFrame hasn't been created yet, do so:
b = [
    [53.1, 95.0, 67.5, 35.0, 78.4],
    [61.3, 40.8, 30.8, 37.8, 87.6],
    [20.6, 73.2, 44.2, 14.6, 91.8],
    [57.4, 0.1, 96.1, 4.2, 69.5],
    [83.6, 20.5, 85.4, 22.8, 35.9],
    [49.0, 69.0, 0.1, 31.8, 89.1],
    [23.3, 40.7, 95.0, 83.8, 26.9],
    [27.6, 26.4, 53.8, 88.8, 68.5],
    [96.6, 96.4, 53.4, 72.4, 50.1],
    [73.7, 39.0, 43.2, 81.6, 34.7]
]
df = pd.DataFrame(b)

# Rename the DataFrame columns
df.columns = ['A', 'B', 'C', 'D', 'E']

# Create a subset of the DataFrame with only Score 1 (A), Score 3 (C), and Score 5 (E)
subset_df = df[['A', 'C', 'E']]

### 7. From the original data frame, calculate the average Score_3 value.

In [10]:
# your code here
import pandas as pd

# Create the DataFrame (if it hasn't been created yet)
b = [
    [53.1, 95.0, 67.5, 35.0, 78.4],
    [61.3, 40.8, 30.8, 37.8, 87.6],
    [20.6, 73.2, 44.2, 14.6, 91.8],
    [57.4, 0.1, 96.1, 4.2, 69.5],
    [83.6, 20.5, 85.4, 22.8, 35.9],
    [49.0, 69.0, 0.1, 31.8, 89.1],
    [23.3, 40.7, 95.0, 83.8, 26.9],
    [27.6, 26.4, 53.8, 88.8, 68.5],
    [96.6, 96.4, 53.4, 72.4, 50.1],
    [73.7, 39.0, 43.2, 81.6, 34.7]
]
df = pd.DataFrame(b)

# Rename the DataFrame columns
df.columns = ['A', 'B', 'C', 'D', 'E']

# Calculate the average of Score 3 (Column 'C')
average_score_3 = df['C'].mean()

# Display the average Score 3 value
print(f"The average Score 3 value is: {average_score_3}")

The average Score 3 value is: 56.95000000000001

### 8. From the original data frame, calculate the maximum Score_4 value.

In [11]:
# your code here
import pandas as pd

# Create the DataFrame (if it hasn't been created yet)
b = [
    [53.1, 95.0, 67.5, 35.0, 78.4],
    [61.3, 40.8, 30.8, 37.8, 87.6],
    [20.6, 73.2, 44.2, 14.6, 91.8],
    [57.4, 0.1, 96.1, 4.2, 69.5],
    [83.6, 20.5, 85.4, 22.8, 35.9],
    [49.0, 69.0, 0.1, 31.8, 89.1],
    [23.3, 40.7, 95.0, 83.8, 26.9],
    [27.6, 26.4, 53.8, 88.8, 68.5],
    [96.6, 96.4, 53.4, 72.4, 50.1],
    [73.7, 39.0, 43.2, 81.6, 34.7]
]
df = pd.DataFrame(b)

# Rename the DataFrame columns
df.columns = ['A', 'B', 'C', 'D', 'E']

# Calculate the maximum of Score 4 (Column 'D')
maximum_score_4 = df['D'].max()

# Display the maximum Score 4 value
print(f"The maximum Score 4 value is: {maximum_score_4}")

The maximum Score 4 value is: 88.8

### 9. From the original data frame, calculate the median Score 2 value.

In [12]:
# your code here
import pandas as pd

# Create the DataFrame (if it hasn't been created yet)
b = [
    [53.1, 95.0, 67.5, 35.0, 78.4],
    [61.3, 40.8, 30.8, 37.8, 87.6],
    [20.6, 73.2, 44.2, 14.6, 91.8],
    [57.4, 0.1, 96.1, 4.2, 69.5],
    [83.6, 20.5, 85.4, 22.8, 35.9],
    [49.0, 69.0, 0.1, 31.8, 89.1],
    [23.3, 40.7, 95.0, 83.8, 26.9],
    [27.6, 26.4, 53.8, 88.8, 68.5],
    [96.6, 96.4, 53.4, 72.4, 50.1],
    [73.7, 39.0, 43.2, 81.6, 34.7]
]
df = pd.DataFrame(b)

# Rename the DataFrame columns
df.columns = ['A', 'B', 'C', 'D', 'E']

# Calculate the median of Score 2 (Column 'B')
median_score_2 = df['B'].median()

# Display the median Score 2 value
print(f"The median Score 2 value is: {median_score_2}")

The median Score 2 value is: 40.75

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [13]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [16]:
# your code here
import pandas as pd

# Define the dictionary of product orders
orders = {
    "OrderID": [1, 2, 3, 4],
    "Product": ["Widget", "Gadget", "Doodad", "Thingamajig"],
    "Quantity": [5, 10, 2, 8],
    "Price": [19.99, 24.99, 12.99, 15.99]
}

# Create a Pandas DataFrame
orders_df = pd.DataFrame(orders)

# Display the DataFrame
print(orders_df)

   OrderID      Product  Quantity  Price
0        1       Widget         5  19.99
1        2       Gadget        10  24.99
2        3       Doodad         2  12.99
3        4  Thingamajig         8  15.99

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [18]:
# your code here
import pandas as pd

# Define the dictionary of product orders
orders = {
    "OrderID": [1, 2, 3, 4],
    "Product": ["Widget", "Gadget", "Doodad", "Thingamajig"],
    "Quantity": [5, 10, 2, 8],
    "Price": [19.99, 24.99, 12.99, 15.99]
}

# Create a Pandas DataFrame
orders_df = pd.DataFrame(orders)

# Calculate total quantity ordered
total_quantity = orders_df['Quantity'].sum()

# Calculate revenue for each order and then the total revenue
orders_df['Revenue'] = orders_df['Quantity'] * orders_df['Price']  # Create a new 'Revenue' column
total_revenue = orders_df['Revenue'].sum()  # Sum of the 'Revenue' column

# Display the results
print(f"Total Quantity Ordered: {total_quantity}")
print(f"Total Revenue Generated: ${total_revenue:.2f}")

Total Quantity Ordered: 25
Total Revenue Generated: $503.75

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [19]:
# your code here
import pandas as pd

# Define the dictionary of product orders
orders = {
    "OrderID": [1, 2, 3, 4],
    "Product": ["Widget", "Gadget", "Doodad", "Thingamajig"],
    "Quantity": [5, 10, 2, 8],
    "Price": [19.99, 24.99, 12.99, 15.99]
}

# Create a Pandas DataFrame
orders_df = pd.DataFrame(orders)

# Obtain the prices of the most expensive and least expensive items ordered
most_expensive_price = orders_df['Price'].max()
least_expensive_price = orders_df['Price'].min()

# Calculate the difference
price_difference = most_expensive_price - least_expensive_price

# Print the results
print(f"Most Expensive Item Price: ${most_expensive_price:.2f}")
print(f"Least Expensive Item Price: ${least_expensive_price:.2f}")
print(f"Difference in Price: ${price_difference:.2f}")

Most Expensive Item Price: $24.99
Least Expensive Item Price: $12.99
Difference in Price: $12.00

## Let's load another dataset for more exercisesÂº

In [20]:
# Run this code:
admissions = pd.read_csv('../Admission_Predict.csv')

Let's evaluate the dataset by looking at the `head` function.

In [21]:
# your code here
import pandas as pd

# Load the dataset
admissions = pd.read_csv('../Admission_Predict.csv')

# Display the first few rows of the dataset
print(admissions.head())

   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        316          104                  3  3.0   3.5  8.00
2           3        322          110                  3  3.5   2.5  8.67
3           4        314          103                  2  2.0   3.0  8.21
4           5        330          115                  5  4.5   3.0  9.34

   Research  Chance of Admit
0         1              0.92
1         1              0.72
2         1              0.80
3         0              0.65
4         1              0.90

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [22]:
# your code here
import pandas as pd

# Load the dataset
admissions = pd.read_csv('../Admission_Predict.csv')

# Check for missing data in the dataset
missing_data = admissions.isnull().sum()

# Display the count of missing values for each column
print(missing_data[missing_data > 0])  # Only display columns with missing values

Series([], dtype: int64)

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [25]:

import pandas as pd

# Load the dataset
admissions = pd.read_csv('../Admission_Predict.csv')

# Print the first few rows of the Dataset
print("First few rows of the dataset:")
print(admissions.head())

# Print the column names to identify the exact name of the serial number column
print("Column names in the dataset:")
print(admissions.columns.tolist())

First few rows of the dataset:
   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        316          104                  3  3.0   3.5  8.00
2           3        322          110                  3  3.5   2.5  8.67
3           4        314          103                  2  2.0   3.0  8.21
4           5        330          115                  5  4.5   3.0  9.34

   Research  Chance of Admit
0         1              0.92
1         1              0.72
2         1              0.80
3         0              0.65
4         1              0.90
Column names in the dataset:
['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA', 'Research', 'Chance of Admit ']

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [27]:
# your code here
# Assuming you have already loaded your dataset into a DataFrame named 'admissions'.

# Check the column names to confirm the correct names for CGPA and Research
print("Column names in the dataset:")
print(admissions.columns.tolist())

# Count the number of rows where CGPA is greater than 9 and Research is 1 (assuming 1 means performed research)
count = admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)].shape[0]

# Print the count
print(f"Number of students with CGPA greater than 9 and who performed an investigation: {count}")

Column names in the dataset:
['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA', 'Research', 'Chance of Admit ']
Number of students with CGPA greater than 9 and who performed an investigation: 101

### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [29]:
import pandas as pd

# Sample DataFrame creation (replace this with your actual DataFrame)
# admissions = pd.read_csv("your_file.csv") # Uncomment this line to read from a CSV file

# Example structure of the DataFrame for the sake of illustration
data = {
    'CGPA': [9.2, 9.5, 8.8, 9.0, 9.1],
    'SOP': [3.2, 4.0, 3.4, 2.8, 3.0],
    'Chance of Admit': [0.8, 0.9, 0.6, 0.7, 0.75]
}
admissions = pd.DataFrame(data)

# Filter rows where CGPA > 9 and SOP < 3.5
filtered_admissions = admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]

# Calculate the mean chance of admit for these applicants
if not filtered_admissions.empty:
    mean_chance_of_admit = filtered_admissions['Chance of Admit'].mean()
    print(f"Mean chance of admit for applicants with CGPA > 9 and SOP < 3.5: {mean_chance_of_admit}")
else:
    print("No applicants meet the criteria.")

Mean chance of admit for applicants with CGPA > 9 and SOP < 3.5: 0.775